# Networking configuration ----------------------------

[network]
host = "{{ zeebe_host }}"

[network.client]
#host = "{{ zeebe_client_host }}"
port = {{ zeebe_client_port }}

[network.management]
#host = "{{ zeebe_management_host }}"
port = {{ zeebe_management_port }}

[network.replication]
#host = "{{ zeebe_replication_host }}"
port = {{ zeebe_replication_port }}

[cluster]
initialContactPoints = {{ zeebe_contact_points | safe }}
nodeId= {{ zeebe_node_id }}
partitionsCount = 3
replicationFactor = 3
clusterSize = 4

# System Configuration --------------------------------

[threads]
cpuThreadCount = 6
ioThreadCount = 2

# Log Configuration -----------------------------------

[logs]

[metrics]
reportingInterval = 15
metricsFile = "zeebe.prom"
directory = "/var/lib/metrics"